footer{
    background-color: darkgray;
    bottom: 0;
    margin-left: -20px;
    position: fixed;
    width: 100%;
    margin-top: 20px;
}
body{
    height: 100%;
    margin-left: 20px;
    bottom: 20px;
}
#listado{
    float: left;
    width: 50%;
    padding-right: 10px;
}
#add{
    text-align: center;
    float: left;
    width: 50%;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
#tablaIns{
    border: 2px solid black;
    padding: 5px;
    width: 95%;
}
#tablaIns th, #tablaIns td{
    border: 1px solid black;
    padding: 5px;
}
#tablaIns th{
    text-align: center;
}
#tablaFases{
    width: inherit;
    align-content: center;
    align-items: center;
    align-self: center;
}
#nombreFase{
    text-align: left;
}
#tablaFases th{
    text-align: center;
}
#tablaFases th, #tablaFases td{
    padding: 5px;
}
h2{
    text-align: center;
}
.nTabla{
    text-align: center;
    width: 30%;
}
.botonTabla{
    float: right;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.form{
    text-align: left;
    border: none;
    background-color: transparent;
    padding-top: 0px;
    margin-top: 0px;
}
.error{
    color: red;
}

.ng-table-rowselected tr {
    cursor: pointer;
}

.active{
    font-weight: bold;
    color: darkred;
}