<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <title>Instalaciones Altatec</title>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.3.3/ng-table.min.css"/>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap-editable/css/bootstrap-editable.css"/>
        <link rel="stylesheet" href="estilos.css"/>
    </head>
    
    <body data-ng-app="appImprimir" data-ng-controller="PresupuestosCntrl">
        <head>
            <h1>Impresora de Presupuestos</h1>
        </head>
        
        <section>
            <br><br>
            <button data-ng-click="imprimir(1)">Imprimir1</button>
            <button data-ng-click="imprimir(2)">Imprimir2</button>
        </section>

        <footer id="pie">&nbsp&#169 Altatec Seguridad. Todos los derechos reservados.</footer>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
        
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.3.3/ng-table.min.js"></script>
        <script rsc="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap-editable/js/bootstrap-editable.min.js"></script>
        <script src="app.js"></script>
        <script src="controllers.js"></script>
    </body>
</html>