<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <title>Instalaciones Altatec</title>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.3.3/ng-table.min.css"/>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap-editable/css/bootstrap-editable.css"/>
        <link rel="stylesheet" href="estilos.css"/>
    </head>
    
    <body data-ng-app="appInstalaciones" data-ng-controller="insCtr">
        <head>
            <h1>Instalaciones pendientes</h1>
            <h3>Día {{dia}}</h3>
        </head>
        
        <!---------- SECCIÓN DE DATOS DE LAS INSTALACIONES ---------->
            <section id="listado">
                <!---------- LISTADO DE INSTALACIONES PENDIENTES ---------->
                <h2>Listado</h2>
                <input id="filtrar" type="text" data-ng-model="ins" placeholder="Filtrar por Instalación">
                &nbsp&nbsp<button data-ng-disabled="des" data-ng-click="nuevo()">Nueva Instalación</button>
                <br><br>
                <table id="tablaIns">
                    <thead>
                        <tr>
                            <th class="nTabla">Nombre</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="x in instalaciones | filter:ins | orderBy:['prioridad','fecha']" data-ng-class="{'error': x.prioridad==0}">
                            <td class="nTabla">
                                <span data-ng-show="false">{{x.instalacion_id}}</span>
                                <span data-ng-show="false">{{x.prioridad}}</span>
                                <span data-ng-show="editInst" data-ng-click="mostrarDatos(x)">{{x.nombre}}</span>
                                <input type="text" data-ng-model="x.nombre" data-ng-if="!editInst">
                            </td>
                            <td>
                                <span data-ng-show="editInst">{{x.descripcion}}</span>
                                <input type="text" data-ng-model="x.descripcion" data-ng-if="!editInst">
                                
                                <span data-ng-if="!editInst"><br>Prioridad: </span><input style="width:22px" type="text" data-ng-model="x.prioridad" data-ng-if="!editInst">
                                <div class="botonTabla">
                                    <button class="glyphicon glyphicon-edit" data-ng-show="editInst" data-ng-click="edIns(); editInst = !editInst;"/>
                                    <button class="glyphicon glyphicon-trash" data-ng-show="editInst" data-ng-click="edIns(); eliminarInst(x)"/>
                                    <button class="glyphicon glyphicon-ok-sign" data-ng-hide="editInst" data-ng-click="editInst = !editInst; guardarInst(x)"/>
                                    <button class="glyphicon glyphicon-remove-sign" data-ng-hide="editInst" data-ng-click="editInst=!editInst"/>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <span class="pieTabla">* Para cambiar de fase la instalación, pulse encima del nombre.</span>
                <br>
                <span class="pieTabla">* Para resetear el FALLO de la instalación: Editar la fase fallida.</span>
                
                <!---------- DATOS DETALLADOS POR INSTALACIÓN ---------->
                <br><br>
                <table id="datosIns" data-ng-if="mostrarDatosIns">
                    <tbody data-ng-repeat="y in instalaciones | filter: {instalacion_id: idDatos}">
                        <tr>
                            <th>Nombre:</th>
                            <td>{{y.nombre}}</td>
                        </tr>
                        <tr>
                            <th>Descripción:</th>
                            <td>{{y.descripcion}}</td>
                        </tr>
                        <tr>
                            <th>Prioridad:</th>
                            <td>{{y.prioridad}}</td>
                        </tr>
                        <tr>
                            <th>Fecha Inicio:</th>
                            <td>
                                {{y.fecha | date: 'dd/MM/yyyy'}}
                            </td>
                        </tr>
                        <tr>
                            <th>Fases:</th>
                            <td>
                                <table id="tablaFases" class="table data-ng-table-rowselected">
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Duración</th>
                                        <th><span class="glyphicon glyphicon-ok green"></span></th>
                                        <th>Iniciar</th>
                                        <th></th>
                                    </tr>
                                    <tr data-ng-repeat="faseIn in fasesAdd track by faseIn.fase_id" data-ng-class="{'error': faseIn.error==1, 'active': faseIn.$selected}">
                                        <span data-ng-show="false">{{faseIn.fase_id}}</span>
                                        <span data-ng-show="false">{{faseIn.fecha}}</span>
                                        <span data-ng-show="false">{{faseIn.ativa}}</span>
                                        <span >{{faseIn.hecha}}</span>
                                        <td id="nombreFase">
                                            {{faseIn.nombre}}
                                        </td>
                                        <td>
                                            <span data-ng-show="editFaseSel">{{faseIn.duracion}}</span>
                                            <input style="width:22px" type="text" data-ng-model="faseIn.duracion" data-ng-if="!editFaseSel">
                                        </td>
                                        <td>
                                            <button data-ng-click="finalizarFase(y, faseIn)" data-ng-disabled="faseIn.hecha" data-ng-show="faseIn.activa" class="glyphicon glyphicon-ok" data-ng-class="{green: faseIn.hecha}">
                                        </td>
                                        <td>
                                            <div class="botonTabla">
                                                <button class="glyphicon glyphicon-check" data-ng-show="!faseIn.activa" data-ng-click="iniciarFase(faseIn, y)"/>
                                            </div>
                                        </td><td>
                                            <div class="botonTabla">
                                                <button class="glyphicon glyphicon-edit" data-ng-show="editFaseSel" data-ng-disabled="faseIn.hecha" data-ng-click="editFaseSel = !editFaseSel"/>
                                                
                                                <button class="glyphicon glyphicon-ok-sign" data-ng-hide="editFaseSel" data-ng-click="editFaseSel = !editFaseSel; guardarFaseInst(faseIn,y)"/>
                                                
                                                <button class="glyphicon glyphicon-remove-sign" data-ng-hide="editFaseSel" data-ng-click="editFaseSel = !editFaseSel"/>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button data-ng-click="mostrarDatosIns=false" data-ng-show="mostrarDatosIns">Aceptar</button>
            </section>
        
        
            <!---------- SECCIÓN DE FORMULARIOS ---------->
            <section id="add" data-ng-show="mostrar">
                
            <!---------- FORMULARIO DE CREAR INSTALACIONES ---------->
                <form name="formIns" novalidate>
                    <h3>Nueva Instalación</h3>
                    <p class="form">
                        Nombre:
                        <input type="text" name="nombre" data-ng-model="x.nombre" placeholder="Nombre" data-ng-maxlength="30" required>&nbsp&nbsp
                        <span id="n1" class="error" data-ng-show="formIns.nombre.$error.required && !formIns.nombre.$pristine">Nombre obligatorio</span>
                        <span id="n2" class="error" data-ng-show="formIns.nombre.$error.maxlength">Nombre muy largo</span>
                    </p>
                    <p class="form">
                        Descripción:
                        <input type="text" name="desc" data-ng-model="x.descripcion" placeholder="Descripción" data-ng-maxlength="160" required>&nbsp&nbsp
                        <span id="d1" class="error" data-ng-show="formIns.descripcion.$error.required && !formIns.descripcion.$pristine">Descripción obligatoria</span>
                        <span id="d2" class="error" data-ng-show="formIns.descripcion.$error.maxlength">Máximo 60 caracteres</span>
                    </p>
                    <p class="form">
                        Prioridad: 
                        <input type="number" name="pri" data-ng-model="x.prioridad" placeholder="Prioridad" data-ng-blur="!$pristine && esNum(x.prioridad)" required>&nbsp&nbsp
                        <span id="p1" class="error" data-ng-show="badNum">Introduzca un número</span>                    
                    </p>
                    <p class="form">
                        Seleccione las fases de la tabla:
                        <button data-ng-click="mostrarFase = true" data-ng-disabled="mostrarFase">Nueva Fase</button>
                        
                        <table id="tablaFases" class="table data-ng-table-rowselected">
                            <tr>
                                <th>Nombre</th>
                                <th>Duración</th>
                                <th></th>
                            </tr>
                            <tr data-ng-repeat="fase in fases | orderBy:'nombre'" data-ng-class="{active: fase.$selected}">
                                <td id="nombreFase">
                                    <span data-ng-show="false">{{fase.id}}</span>
                                    <span data-ng-show="false">{{fase.fecha}}</span>
                                    <span data-ng-show="false">{{fase.activa}}</span>
                                    <span data-ng-show="false">{{fase.hecha}}</span>
                                    {{fase.nombre}}
                                </td>
                                <td>
                                    <span data-ng-show="editFase">{{fase.duracion}}</span>
                                    <input style="width:22px" type="text" data-ng-model="fase.duracion" data-ng-if="!editFase">
                                </td>
                                <td>
                                    <div class="botonTabla">
                                        <button class="glyphicon glyphicon-check" data-ng-show="editFase" data-ng-click="fase.$selected = !fase.$selected"/>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <span class="error" data-ng-show="noSel">Seleccione una fase</span>
                    </p>
                    <button data-ng-click="addIns()" data-ng-disabled="formIns.sel.$pristine || formIns.$invalid">Crear</button>&nbsp&nbsp
                    <button data-ng-click="resetearFormIns()">Cancelar</button>
                </form>
        
                <!---------- FORMULARIO DE AÑADIR FASES ---------->
                <br>
                <form name="formFase" data-ng-show="mostrarFase" novalidate>
                    <h3>Nueva Fase</h3>
                    
                    <span data-ng-show="false">{{f.id}}</span>
                    <span data-ng-show="false">{{f.fecha}}</span>
                    <span data-ng-show="false">{{f.activa}}</span>
                    <span data-ng-show="false">{{f.hecha}}</span>
                    <p class="form">
                        Nombre:
                        <input type="text" name="nombre" data-ng-model="f.nombre" placeholder="Nombre" data-ng-maxlength="15" required>&nbsp&nbsp
                        <span id="n1" class="error" data-ng-show="formFase.nombre.$error.required && !formFase.nombre.$pristine">Nombre obligatorio</span>
                        <span id="n2" class="error" data-ng-show="formFase.nombre.$error.maxlength">Nombre muy largo</span>
                    </p>
                    
                    <p class="form">
                        Duración: 
                        <input type="number" name="durac" data-ng-model="f.duracion" placeholder="Duración" data-ng-blur="!$pristine && esNum(f.duracion)" required>&nbsp&nbsp
                        <span id="p1" class="error" data-ng-show="badNum">Introduzca un número</span>                
                    </p>
                    <button data-ng-click="addFase()" data-ng-disabled="formFase.$invalid">Crear</button>
                    <button data-ng-click="resetearFormFase()">Cancelar</button>
                </form>
            </section>
        <div id="final"></div>
        <footer id="pie">&nbsp&#169 Altatec Seguridad. Todos los derechos reservados.</footer>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.3.3/ng-table.min.js"></script>
        <script rsc="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap-editable/js/bootstrap-editable.min.js"></script>
        <script src="app.js"></script>
        <script src="controllers.js"></script>
    </body>
</html>